body {
  width: 70%;
  float: right;
  transition: 0.5s;
  background-color: rgb(196, 14, 74);
}

html {
  scroll-behavior: smooth;
}

.show {
  transform: translateX(0%);
}

.activeNavLi {
  background-color: rgb(53, 0, 18);
}

.header {
  color: black;
}
.header .open-btn {
  z-index: 11111111;
  position: fixed;
  top: 20px;
  left: 5%;
  cursor: pointer;
  background-color: rgb(53, 0, 18);
  box-shadow: 0 -6px 0 rgb(78, 0, 25) inset;
  padding: 12px 10px;
  border-radius: 5px;
  transform: rotate(45deg);
}
.header .open-btn div {
  transform: rotate(-45deg);
}
.header .open-btn div span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: white;
  margin-bottom: 4px;
}
.header .open-btn div span:last-child {
  margin-bottom: 0px;
}
.header .mouse {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}
.header nav {
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0%;
  transition: 0.5s;
  width: 30%;
  box-shadow: 0 0 40px rgb(53, 0, 18);
  background-color: rgb(53, 0, 18);
  transition: 0.5s;
}
.header nav .nav-bar {
  height: 100vh;
  align-content: center;
  width: 100%;
}
.header nav .nav-bar .close-btn {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}
.header nav .nav-bar .close-btn span {
  display: block;
  background-color: rgb(196, 14, 74);
}
.header nav .nav-bar .close-btn span:first-child {
  margin-bottom: -5px;
  width: 20px;
  height: 5px;
  transform: rotate(45deg);
}
.header nav .nav-bar .close-btn span:last-child {
  width: 20px;
  height: 5px;
  transform: rotate(-45deg);
}
.header nav .nav-bar ul li {
  transition: 0.5s;
  box-shadow: 0 0 40px rgb(53, 0, 18);
  width: 97%;
  padding: 10px;
  padding-left: 20px;
  border-bottom-right-radius: 10px;
  position: relative;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
}
@media (max-width: 787px) {
  .header nav .nav-bar ul li {
    padding-left: 5px;
  }
}
.header nav .nav-bar ul li a {
  color: white;
}
.header nav .nav-bar ul li::after {
  width: 5%;
  height: 50%;
  background-color: rgb(53, 0, 18);
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 10px;
  z-index: 1111;
}
.header .content .container {
  width: 90%;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .content .container .icons {
  margin-bottom: 15px;
  margin-top: -43px;
}
@media (max-width: 992px) {
  .header .content .container .icons {
    margin-top: 0;
  }
}

.projects-page {
  padding: 50px 0;
  overflow: hidden;
  position: relative;
}
.projects-page .container {
  width: 90%;
}
@media (max-width: 787px) {
  .projects-page .container {
    width: 100%;
  }
}
.projects-page .container .title-filter-bar {
  margin-bottom: 20px;
}
.projects-page .container .title-filter-bar .filter-bar {
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  width: 100%;
  gap: 5px;
}
@media (max-width: 767px) {
  .projects-page .container .title-filter-bar .filter-bar button {
    width: 49%;
  }
}
.projects-page .container .projects .boxes {
  transition: 0.5s;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.75%;
}
.projects-page .container .projects .boxes .box {
  width: 49%;
  transition: 0.5s;
  margin-bottom: 1.75%;
  background-color: rgb(53, 0, 18);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px -5px 0px #355a34;
  animation: anime 1s ease infinite;
}
@media (max-width: 787px) {
  .projects-page .container .projects .boxes .box {
    width: 100%;
  }
}
.projects-page .container .projects .boxes .box .img {
  background-color: rgb(53, 0, 18);
  padding: 10px;
  overflow: hidden;
}
.projects-page .container .projects .boxes .box .img img {
  border-radius: 10px;
  width: 100%;
}
.projects-page .container .projects .boxes .box .project-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 10px 10px;
  color: white;
}
.projects-page .container .projects .boxes .box .project-infos .open-project-btn img {
  width: 40px;
}

.contact-page .container {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
@media (max-width: 767px) {
  .contact-page .container {
    flex-direction: column;
    gap: 10px;
  }
}
.contact-page .container form {
  width: 40%;
}
.contact-page .container form input, .contact-page .container form textarea {
  position: relative;
  padding: 10px 20px;
  margin-top: 10px;
  width: 100%;
  border: 0;
  outline: 0px;
  transition: 0.5s ease;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(196, 14, 74);
}
.contact-page .container form input:hover, .contact-page .container form textarea:hover {
  box-shadow: 0 0 10px rgb(53, 0, 18);
}
.contact-page .container form #label {
  color: white;
  transform: translateY(5%);
  font-weight: bold;
}
@media (max-width: 767px) {
  .contact-page .container form {
    width: 100%;
  }
}

.hide {
  display: none;
}

.active {
  background-color: rgb(196, 14, 74);
  box-shadow: inset 0 -6px 0 rgb(139, 8, 50), inset 0 6px 0 rgb(175, 24, 75);
}

button {
  overflow: hidden;
  position: relative;
  background-color: rgb(53, 0, 18);
  padding: 15px 20px;
  border-radius: 5px;
  border: 2px solid rgb(53, 0, 18);
  color: white;
  overflow: hidden;
  transition: 1s;
  box-shadow: inset 0 -6px 0 rgb(78, 0, 25), inset 0 6px 0 rgb(94, 0, 32);
}
button::after {
  transition: 0.8s;
  position: absolute;
  top: 6px;
  right: -100%;
  width: 10%;
  height: 34.5px;
  content: "";
  transform: skew(40deg);
}
button:hover {
  box-shadow: inset 0 -6px 0 rgb(170, 18, 66), inset 0 6px 0 rgb(163, 20, 68);
  background-color: rgb(211, 8, 76);
}
button:hover::after {
  background-color: rgb(211, 8, 76);
  width: 50%;
  right: 100%;
}

.title, .my-name {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;
  padding: 0;
}
.title h1, .my-name h1 {
  font-size: 60px;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px transparent;
  background-image: linear-gradient(to right, rgb(53, 0, 18), rgb(148, 0, 49));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .title h1, .my-name h1 {
    font-size: 45px;
  }
}
.title span, .my-name span {
  -webkit-text-stroke: 0;
  -webkit-text-fill-color: white;
  /* margin-top: -100px; */
  color: white;
  font-size: 21px;
  transform: translateY(-30px);
}
@media (max-width: 767px) {
  .title span, .my-name span {
    font-size: 18px;
    transform: translateY(-24px);
  }
}
.title .my-career, .my-name .my-career {
  font-size: 50px;
  transform: translateY(-45px);
}
@media (max-width: 790px) {
  .title .my-career, .my-name .my-career {
    font-size: 25px;
    transform: translateY(0);
  }
}

@keyframes anime {
  0%, 100% {
    box-shadow: 5px -5px 0px #355a34;
  }
  50% {
    box-shadow: 0px 0px 0px yellowgreen;
  }
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(53, 0, 18);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(211, 8, 76);
  border-radius: 20px;
}

:-webkit-full-screen {
  background-color: rgb(211, 8, 76);
}

::-moz-selection {
  background-color: rgb(53, 0, 18);
  color: white;
}

::selection {
  background-color: rgb(53, 0, 18);
  color: white;
}

.tran {
  transform: translateX(-400%);
}

.tran0 {
  transform: translateX(0);
}/*# sourceMappingURL=main.css.map */